html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}


ul{
    list-style-type: none;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

body{
    font-size: 14px;
    font-family: "Inter", serif;
    font-weight: 400;
    line-height: 1.4;
    color: #1b1b1b;
}

.header{
    margin-bottom: 90px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.header__title{
    font-size: 14px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    line-height: 1.4;
    color: #1b1b1b;
    text-transform: uppercase;
    margin-left: auto;
}

.menu{
    margin-left: 130px;
    margin-right: 185px;
}

.menu__item{
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.user-nav{
    display: flex;
    gap: 20px;
}

.top{
    margin-bottom: 100px;
}

.top-slide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.top-slide__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 700px;
    padding-top: 20px;
}

.top-slide__content{
    flex-basis: 183px;
    margin-top: -88px;
}

.top-slide__title{
    font-size: 70px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    color: #1b1b1b;
    text-transform: uppercase;
    line-height: 1.3;
}

.top-slide__subtitle{
    font-size: 24px;
}

.top-slide__text{
    margin-bottom: 20px;
}

.top-slide__btn{
    margin-left: auto;
}

.button{
 color: #7449bb;
    text-transform: uppercase;
    font-weight: 700;
    padding: 21px 55px;
    border: 1px solid  #7449bb;
    display: inline-block;
    transition: all .3s ease;
}


.top-slide__btn:hover{
    background-color: #7449bb;
    color: #fff;
}

.swiper-button-prev:after,
.swiper-button-next:after{
    content: none;
}

.container-arrow{
    position: relative;
    padding: 0;
    max-width: 1200px;
}

.top .swiper{
    padding-bottom: 50px;
}

.swiper-button-next{
    left: 76px;
    right: auto;
}

.swiper-button-next__top{
    padding-top: 50px;
}

.swiper-button-prev__top{
    padding-top: 50px;
}


.about{
 margin-bottom: 150px;
 overflow: hidden;
}

.about__inner{  
    padding-left: 200px;
}

.about__title{
    font-size: 32px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    max-width: 185px;
    text-transform: uppercase;
    line-height: 1.34;
    margin-bottom: 20px;
}


.about__textbox{
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.about__text{
    flex-basis: 387px;
    line-height: 1.2;
    font-weight: 400;
}

.about__text p{
    margin-bottom: 15px;
    font-size: 14px;
}

.about__text--bold{
    font-weight: 700;
}


.about__item-title{
    margin-bottom: 20px;
}

.about__slider{
    width: 1800px;
    padding-left: 200px;
    margin-left: -200px;
    padding-bottom: 20px;
}

.about__arrow{
    margin-left: -200px;
    padding-top: 50px;
}

